export(elu.prime)
export(elu)
export(hramp.prime)
export(hramp)
export(linear.prime)
export(linear)
export(logistic.prime)
export(logistic)
export(lrelu.prime)
export(lrelu)
export(qrnn.cost)
export(qrnn.fit)
export(qrnn.initialize)
export(qrnn.predict)
export(relu.prime)
export(relu)
export(sigmoid.prime)
export(sigmoid)
export(softmax)
export(softplus.prime)
export(softplus)
importFrom(stats, nlm)
importFrom(stats, approx)
importFrom(stats, integrate)
importFrom(stats, median)
importFrom(stats, runif)
importFrom(stats, uniroot)
importFrom(stats, sd)
importFrom(graphics, abline)
importFrom(graphics, segments)
importFrom(grDevices, dev.new)
